html{
  box-sizing: border-box;
}
*, *::after, *::before{
  box-sizing: inherit;
}


/* Search page */

.signup-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 5vw;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5vw;

}

.search-container .search-field {
  background: rgb(35, 63, 147);
  padding: 1.5vw;

}

 /* navigation */

.navigation {
  position: sticky;
  top: 0;
  z-index: 30;
}

.navigation nav{
  background: rgb(35, 63, 147);
  top: 0;
  height: 4vw;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

#map {
  left: 2%;
  height: 60%;
  width: 48%;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
