html{
  box-sizing: border-box;
}
*, *::after, *::before{
  box-sizing: inherit;
}

.signup-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 5vw;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5vw;
}
