html{
  box-sizing: border-box;
  background-color: rgb(238,232,170)
}
*, *::after, *::before{
  box-sizing: inherit;
}


/* Search page */

.signup-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 0vw;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5vw;
  padding-bottom: 2vw;

}

.search-container .search-field {
  background: rgb(255, 86, 86);
  padding: 1.5vw;

}

 /* navigation */



#map {
  left: 2%;
  height: 60%;
  width: 48%;
  padding-bottom: 1vw;
  bottom: 2%;
  
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
